<h1><%= @task.title %></h1>
<p><%= @task.description %></p>

<%= link_to "Update task", update_path %>
<br>
<%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<br>
<%= link_to "Back to list", tasks_path %>
